In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Rading csv files of Train & Test datasets

In [2]:
Train=pd.read_csv('C:/Users/Hetvi Mehta/Downloads/PHD/Train-1542865627584.csv')
Train_In=pd.read_csv('C:/Users/Hetvi Mehta/Downloads/PHD/Train_Inpatientdata-1542865627584.csv')
Train_Out=pd.read_csv('C:/Users/Hetvi Mehta/Downloads/PHD/Train_Outpatientdata-1542865627584.csv')
Train_Ben=pd.read_csv('C:/Users/Hetvi Mehta/Downloads/PHD/Train_Beneficiarydata-1542865627584.csv')

In [3]:
Test=pd.read_csv('C:/Users/Hetvi Mehta/Downloads/PHD/PHD_Test-1542969243754.csv')
Test_In=pd.read_csv('C:/Users/Hetvi Mehta/Downloads/PHD/Test_Inpatientdata-1542969243754.csv')
Test_Out=pd.read_csv('C:/Users/Hetvi Mehta/Downloads/PHD/Test_Outpatientdata-1542969243754.csv')
Test_Ben=pd.read_csv('C:/Users/Hetvi Mehta/Downloads/PHD/Test_Beneficiarydata-1542969243754.csv')

In [4]:
Train.shape

(5410, 2)

In [5]:
Train_In.shape

(40474, 30)

In [6]:
Train_Out.shape

(517737, 27)

In [7]:
Train_Ben.shape

(138556, 25)

In [8]:
Test.shape

(1353, 1)

In [9]:
Test_In.shape

(9551, 30)

In [10]:
Test_Out.shape

(125841, 27)

In [11]:
Test_Ben.shape

(63968, 25)

In [12]:
Train.columns

Index(['Provider', 'PotentialFraud'], dtype='object')

In [13]:
Train_In.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [14]:
Train_Out.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
      dtype='object')

In [15]:
Train_Ben.columns

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')

In [16]:
Test.columns

Index(['Provider'], dtype='object')

In [17]:
Test_In.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [18]:
Test_Out.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
      dtype='object')

In [19]:
Test_Ben.columns

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')

### Merging the Train_In & Train_Out datasets

In [20]:
Train_merge1=pd.merge(Train_In,Train_Out,how='outer')
Train_merge1.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

### Merging the Train_merge1 & Train_Ben datasets

In [21]:
Train_merge2=pd.merge(Train_merge1,Train_Ben)
Train_merge2.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,1,1,1,2,1,1,36000,3204,60,70
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,1,1,1,2,1,1,36000,3204,60,70
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,1,1,2,2,1,1,5000,1068,250,320
4,BENE11011,CLM144521,2009-01-18,2009-01-18,PRV52314,50,PHY379398,NaN,NaN,NaN,...,1,1,2,2,1,1,5000,1068,250,320

### Merging the Train_merge2 & Train datasets

In [22]:
Train_merge3=pd.merge(Train_merge2,Train)
Train_merge3.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,PotentialFraud
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,2,1,1,36000,3204,60,70,Yes
1,BENE16973,CLM565430,2009-09-06,2009-09-06,PRV55912,50,PHY365867,PHY327147,NaN,NaN,...,2,1,2,2,2,24000,2136,450,200,Yes
2,BENE17521,CLM34721,2009-01-20,2009-02-01,PRV55912,19000,PHY349293,PHY370861,PHY363291,2009-01-20,...,2,1,2,2,2,19000,1068,100,20,Yes
3,BENE21718,CLM72336,2009-10-17,2009-11-04,PRV55912,17000,PHY334706,PHY334706,NaN,2009-10-17,...,2,1,1,2,2,17000,1068,1050,540,Yes
4,BENE22934,CLM73394,2009-10-25,2009-10-29,PRV55912,13000,PHY390614,PHY323689,PHY363291,2009-10-25,...,1,1,1,1,2,27000,2136,450,160,Yes

### Merging the Test_In & Test_Out datasets

In [23]:
Test_merge1=pd.merge(Test_In,Test_Out,how='outer')
Test_merge1.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,5990,570,41071,4280,4443.0,5849.0,NaN,NaN,NaN,NaN
1,BENE11017,CLM31237,2008-12-25,2009-01-08,PRV54750,14000,PHY314656,PHY426644,NaN,2008-12-25,...,4549,29570,34831,NaN,5551.0,NaN,NaN,NaN,NaN,NaN
2,BENE11026,CLM78930,2009-12-09,2009-12-13,PRV53758,2000,PHY349495,NaN,NaN,2009-12-09,...,78650,7813,4254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11031,CLM56810,2009-06-23,2009-07-06,PRV55825,16000,PHY429538,PHY371893,NaN,2009-06-23,...,4254,41400,5849,41401,8152.0,3320.0,NaN,NaN,NaN,NaN
4,BENE11085,CLM34625,2009-01-20,2009-01-31,PRV52338,19000,PHY397161,NaN,NaN,2009-01-20,...,V6109,7242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Merging the Test_merge1 & Test_Ben datasets

In [24]:
Test_merge2=pd.merge(Test_merge1,Test_Ben)
Test_merge2.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,1,2,1,2,2,2,21260,2136,120,100
1,BENE11014,CLM731858,2009-12-16,2009-12-16,PRV56558,60,PHY331420,PHY331420,PHY428520,NaN,...,1,2,1,2,2,2,21260,2136,120,100
2,BENE11017,CLM31237,2008-12-25,2009-01-08,PRV54750,14000,PHY314656,PHY426644,NaN,2008-12-25,...,2,1,1,2,1,1,22000,2136,1400,840
3,BENE11026,CLM78930,2009-12-09,2009-12-13,PRV53758,2000,PHY349495,NaN,NaN,2009-12-09,...,2,2,1,2,2,2,2000,1068,0,0
4,BENE11031,CLM56810,2009-06-23,2009-07-06,PRV55825,16000,PHY429538,PHY371893,NaN,2009-06-23,...,2,2,1,1,2,2,23650,2136,40,0

### Merging the Test_merge2 & Test datasets

In [25]:
Test_merge3=pd.merge(Test_merge2,Test)
Test_merge3.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,1,2,1,2,2,2,21260,2136,120,100
1,BENE23826,CLM56697,2009-06-22,2009-06-24,PRV57070,3000,PHY427017,NaN,PHY351953,2009-06-22,...,1,1,1,2,1,2,8000,2136,2540,1880
2,BENE24014,CLM63574,2009-08-12,2009-08-18,PRV57070,7000,PHY426001,PHY351953,NaN,2009-08-12,...,2,2,1,1,2,2,10200,2136,40,100
3,BENE41847,CLM59473,2009-07-13,2009-07-21,PRV57070,5000,PHY426001,PHY351953,NaN,2009-07-13,...,2,2,1,1,2,2,5000,1068,600,180
4,BENE74857,CLM54585,2009-06-07,2009-06-17,PRV57070,9000,PHY351953,PHY351953,NaN,2009-06-07,...,2,1,1,2,1,2,9000,1068,10,40

In [26]:
Train_merge3.shape

(558211, 55)

In [27]:
Test_merge3.shape

(135392, 54)

### Checking for null values in Train & Test final dataset

In [28]:
Train_merge3.isnull().sum()

BeneID                                  0
ClaimID                                 0
ClaimStartDt                            0
ClaimEndDt                              0
Provider                                0
InscClaimAmtReimbursed                  0
AttendingPhysician                   1508
OperatingPhysician                 443764
OtherPhysician                     358475
AdmissionDt                        517737
ClmAdmitDiagnosisCode              412312
DeductibleAmtPaid                     899
DischargeDt                        517737
DiagnosisGroupCode                 517737
ClmDiagnosisCode_1                  10453
ClmDiagnosisCode_2                 195606
ClmDiagnosisCode_3                 315156
ClmDiagnosisCode_4                 393675
ClmDiagnosisCode_5                 446287
ClmDiagnosisCode_6                 473819
ClmDiagnosisCode_7                 492034
ClmDiagnosisCode_8                 504767
ClmDiagnosisCode_9                 516396
ClmDiagnosisCode_10                553201
ClmProcedureCode_1                 534901
ClmProcedureCode_2                 552721
ClmProcedureCode_3                 557242
ClmProcedureCode_4                 558093
ClmProcedureCode_5                 558202
ClmProcedureCode_6                 558211
DOB                                     0
DOD                                554080
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
PotentialFraud                          0
dtype: int64

In [29]:
Test_merge3.isnull().sum()

BeneID                                  0
ClaimID                                 0
ClaimStartDt                            0
ClaimEndDt                              0
Provider                                0
InscClaimAmtReimbursed                  0
AttendingPhysician                    347
OperatingPhysician                 108199
OtherPhysician                      86760
AdmissionDt                        125841
ClmAdmitDiagnosisCode              100036
DeductibleAmtPaid                     196
DischargeDt                        125841
DiagnosisGroupCode                 125841
ClmDiagnosisCode_1                   2578
ClmDiagnosisCode_2                  47785
ClmDiagnosisCode_3                  76744
ClmDiagnosisCode_4                  95775
ClmDiagnosisCode_5                 108594
ClmDiagnosisCode_6                 115232
ClmDiagnosisCode_7                 119607
ClmDiagnosisCode_8                 122670
ClmDiagnosisCode_9                 125516
ClmDiagnosisCode_10                134242
ClmProcedureCode_1                 129925
ClmProcedureCode_2                 134129
ClmProcedureCode_3                 135167
ClmProcedureCode_4                 135363
ClmProcedureCode_5                 135390
ClmProcedureCode_6                 135392
DOB                                     0
DOD                                134352
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
dtype: int64

#### Coverting 'DOB','DOD','AdmissionDt','DischargeDt','ClaimStartDt','ClaimEndDt' in same format in both Train & Test

In [32]:
Train_merge3['DOB'] = pd.to_datetime(Train_merge3['DOB'],format = '%Y-%m-%d')
Train_merge3['DOD'] = pd.to_datetime(Train_merge3['DOD'],format = '%Y-%m-%d')
Train_merge3['AdmissionDt'] = pd.to_datetime(Train_merge3['AdmissionDt'] , format = '%Y-%m-%d')
Train_merge3['DischargeDt'] = pd.to_datetime(Train_merge3['DischargeDt'],format = '%Y-%m-%d')
Train_merge3['ClaimStartDt'] = pd.to_datetime(Train_merge3['ClaimStartDt'],format = '%Y-%m-%d')
Train_merge3['ClaimEndDt'] = pd.to_datetime(Train_merge3['ClaimEndDt'],format = '%Y-%m-%d')

In [33]:
Test_merge3['DOB'] = pd.to_datetime(Test_merge3['DOB'],format = '%Y-%m-%d')
Test_merge3['DOD'] = pd.to_datetime(Test_merge3['DOD'],format = '%Y-%m-%d')
Test_merge3['AdmissionDt'] = pd.to_datetime(Test_merge3['AdmissionDt'] , format = '%Y-%m-%d')
Test_merge3['DischargeDt'] = pd.to_datetime(Test_merge3['DischargeDt'],format = '%Y-%m-%d')
Test_merge3['ClaimStartDt'] = pd.to_datetime(Test_merge3['ClaimStartDt'],format = '%Y-%m-%d')
Test_merge3['ClaimEndDt'] = pd.to_datetime(Test_merge3['ClaimEndDt'],format = '%Y-%m-%d')

#### Calculating Age in both Train & test

In [34]:
Train_merge3['Age']=(Train_merge3.ClaimStartDt - Train_merge3.DOB).astype('<m8[Y]')
Train_merge3.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,PotentialFraud,Age
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,2,1,1,36000,3204,60,70,Yes,66.0
1,BENE16973,CLM565430,2009-09-06,2009-09-06,PRV55912,50,PHY365867,PHY327147,NaN,NaT,...,1,2,2,2,24000,2136,450,200,Yes,77.0
2,BENE17521,CLM34721,2009-01-20,2009-02-01,PRV55912,19000,PHY349293,PHY370861,PHY363291,2009-01-20,...,1,2,2,2,19000,1068,100,20,Yes,95.0
3,BENE21718,CLM72336,2009-10-17,2009-11-04,PRV55912,17000,PHY334706,PHY334706,NaN,2009-10-17,...,1,1,2,2,17000,1068,1050,540,Yes,87.0
4,BENE22934,CLM73394,2009-10-25,2009-10-29,PRV55912,13000,PHY390614,PHY323689,PHY363291,2009-10-25,...,1,1,1,2,27000,2136,450,160,Yes,79.0

In [35]:
Test_merge3['Age']=(Test_merge3.ClaimStartDt - Test_merge3.DOB).astype('<m8[Y]')
Test_merge3.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,2,1,2,2,2,21260,2136,120,100,71.0
1,BENE23826,CLM56697,2009-06-22,2009-06-24,PRV57070,3000,PHY427017,NaN,PHY351953,2009-06-22,...,1,1,2,1,2,8000,2136,2540,1880,72.0
2,BENE24014,CLM63574,2009-08-12,2009-08-18,PRV57070,7000,PHY426001,PHY351953,NaN,2009-08-12,...,2,1,1,2,2,10200,2136,40,100,71.0
3,BENE41847,CLM59473,2009-07-13,2009-07-21,PRV57070,5000,PHY426001,PHY351953,NaN,2009-07-13,...,2,1,1,2,2,5000,1068,600,180,84.0
4,BENE74857,CLM54585,2009-06-07,2009-06-17,PRV57070,9000,PHY351953,PHY351953,NaN,2009-06-07,...,1,1,2,1,2,9000,1068,10,40,65.0

#### Calculating total number of admit days in Train & Test

In [36]:
Train_merge3['NoOfAdmitDays']=(Train_merge3.DischargeDt-Train_merge3.AdmissionDt).dt.days

In [37]:
Test_merge3['NoOfAdmitDays']=(Test_merge3.DischargeDt-Test_merge3.AdmissionDt).dt.days

#### Calculating total number of claim days in Train & Test

In [38]:
Train_merge3['NoOfClaimDays']=(Train_merge3.ClaimEndDt-Train_merge3.ClaimStartDt).dt.days

In [39]:
Test_merge3['NoOfClaimDays']=(Test_merge3.ClaimEndDt-Test_merge3.ClaimStartDt).dt.days

In [40]:
Train_merge3.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,PotentialFraud,Age,NoOfAdmitDays,NoOfClaimDays
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,36000,3204,60,70,Yes,66.0,6.0,6
1,BENE16973,CLM565430,2009-09-06,2009-09-06,PRV55912,50,PHY365867,PHY327147,NaN,NaT,...,2,2,24000,2136,450,200,Yes,77.0,NaN,0
2,BENE17521,CLM34721,2009-01-20,2009-02-01,PRV55912,19000,PHY349293,PHY370861,PHY363291,2009-01-20,...,2,2,19000,1068,100,20,Yes,95.0,12.0,12
3,BENE21718,CLM72336,2009-10-17,2009-11-04,PRV55912,17000,PHY334706,PHY334706,NaN,2009-10-17,...,2,2,17000,1068,1050,540,Yes,87.0,18.0,18
4,BENE22934,CLM73394,2009-10-25,2009-10-29,PRV55912,13000,PHY390614,PHY323689,PHY363291,2009-10-25,...,1,2,27000,2136,450,160,Yes,79.0,4.0,4

#### Dropping the coulmns

In [41]:
Train_merge3.drop(['ClaimStartDt','ClaimEndDt','DOD','DOB','DischargeDt','AdmissionDt','BeneID','ClaimID','AttendingPhysician','ClmDiagnosisCode_1','ClmDiagnosisCode_2','ClmDiagnosisCode_3','Provider'],axis=1,inplace=True)

In [43]:
Train_merge3.head(5)

,InscClaimAmtReimbursed,OperatingPhysician,OtherPhysician,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DiagnosisGroupCode,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,PotentialFraud,Age,NoOfAdmitDays,NoOfClaimDays
0,26000,NaN,NaN,7866,1068.0,201,7843,2768,71590,2724,...,1,1,36000,3204,60,70,Yes,66.0,6.0,6
1,50,PHY327147,NaN,NaN,0.0,NaN,4280,E8788,78079,79902,...,2,2,24000,2136,450,200,Yes,77.0,NaN,0
2,19000,PHY370861,PHY363291,45340,1068.0,987,40390,45821,28489,5854,...,2,2,19000,1068,100,20,Yes,95.0,12.0,12
3,17000,PHY334706,NaN,V5789,1068.0,941,7812,7993,78830,72273,...,2,2,17000,1068,1050,540,Yes,87.0,18.0,18
4,13000,PHY323689,PHY363291,71946,1068.0,506,V1202,4240,2449,2768,...,1,2,27000,2136,450,160,Yes,79.0,4.0,4

In [44]:
Train_merge3.columns[Train_merge3.isnull().mean()<0.6]

Index(['InscClaimAmtReimbursed', 'DeductibleAmtPaid', 'Gender', 'Race',
       'RenalDiseaseIndicator', 'State', 'County', 'NoOfMonths_PartACov',
       'NoOfMonths_PartBCov', 'ChronicCond_Alzheimer',
       'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
       'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary',
       'ChronicCond_Depression', 'ChronicCond_Diabetes',
       'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
       'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'PotentialFraud',
       'Age', 'NoOfClaimDays'],
      dtype='object')

In [45]:
Final_Train=Train_merge3[Train_merge3.columns[Train_merge3.isnull().mean()<0.6]]
Final_Train

,InscClaimAmtReimbursed,DeductibleAmtPaid,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,...,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,PotentialFraud,Age,NoOfClaimDays
0,26000,1068.0,1,1,0,39,230,12,12,1,...,2,1,1,36000,3204,60,70,Yes,66.0,6
1,50,0.0,1,1,0,39,310,12,12,1,...,2,2,2,24000,2136,450,200,Yes,77.0,0
2,19000,1068.0,2,1,0,39,230,12,12,1,...,2,2,2,19000,1068,100,20,Yes,95.0,12
3,17000,1068.0,1,1,0,39,600,12,12,2,...,1,2,2,17000,1068,1050,540,Yes,87.0,18
4,13000,1068.0,2,1,0,39,280,12,12,2,...,1,1,2,27000,2136,450,160,Yes,79.0,4
5,3000,1068.0,2,2,0,39,510,12,12,1,...,2,2,2,3000,1068,8900,740,Yes,83.0,4
6,20,0.0,1,2,0,39,290,12,12,1,...,2,2,2,17000,2136,3810,40,Yes,62.0,0
7,10000,1068.0,1,1,0,39,440,12,12,2,...,2,2,2,10000,1068,550,190,Yes,75.0,3
8,18000,1068.0,2,1,Y,39,510,12,12,1,...,2,1,2,18000,1068,1440,520,Yes,49.0,8
9,13000,1068.0,2,2,Y,39,540,0,10,1,...,1,1,1,51320,6408,770,300,Yes,75.0,21
10,7000,1068.0,2,2,Y,39,540,0,10,1,...,1,1,1,51320,6408,770,300,Yes,75.0,3
11,7000,1068.0,2,2,Y,39,540,0,10,1,...,1,1,1,51320,6408,770,300,Yes,76.0,4
12,6000,1068.0,2,2,Y,39,540,0,10,1,...,1,1,1,51320,6408,770,300,Yes,76.0,3
13,7000,1068.0,1,1,Y,39,510,12,12,1,...,2,2,2,16000,3204,130,330,Yes,99.0,1
14,4000,1068.0,1,1,Y,39,510,12,12,1,...,2,2,2,16000,3204,130,330,Yes,100.0,7
15,10000,1068.0,1,1,0,39,470,12,12,1,...,1,2,2,18680,3204,470,120,Yes,81.0,11
16,4000,1068.0,2,1,0,39,640,12,12,1,...,2,1,1,12600,2136,130,30,Yes,81.0,3
17,2000,0.0,1,2,Y,31,260,12,12,2,...,2,2,1,8000,1068,4300,290,Yes,71.0,0
18,1000,0.0,1,2,0,29,10,12,12,1,...,2,2,2,49800,3204,1530,190,Yes,80.0,0
19,10000,1068.0,2,1,0,39,290,12,12,2,...,1,1,2,11600,1068,990,810,Yes,100.0,8
20,9000,1068.0,1,1,Y,39,580,12,12,2,...,2,2,2,29000,2136,0,0,Yes,85.0,23
21,29000,1068.0,1,1,Y,39,410,12,12,2,...,2,2,2,38000,2136,200,0,Yes,67.0,13
22,9000,1068.0,1,1,Y,39,410,12,12,2,...,2,2,2,38000,2136,200,0,Yes,67.0,5
23,10000,1068.0,1,1,0,39,710,12,12,2,...,1,1,1,10000,1068,5860,1730,Yes,70.0,2
24,7000,1068.0,1,1,0,39,230,12,12,2,...,2,2,2,7000,1068,4230,480,Yes,72.0,3
25,17000,1068.0,1,5,0,39,280,12,12,2,...,2,1,1,17000,1068,330,70,Yes,74.0,12
26,8000,1068.0,2,1,Y,39,420,12,12,1,...,1,1,1,39440,4772,11710,2510,Yes,81.0,2
27,12000,1068.0,2,1,0,39,200,12,12,1,...,1,2,1,20070,7204,700,50,Yes,69.0,2
28,34000,1068.0,2,1,0,39,510,12,12,1,...,2,1,2,34000,1068,4870,680,Yes,67.0,5
29,31000,1068.0,2,1,0,39,640,12,12,2,...,2,2,2,31000,1068,920,300,Yes,75.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558181,600,0.0,2,1,0,15,480,12,12,2,...,1,2,1,0,0,2800,430,No,83.0,7
558182,900,0.0,1,1,0,52,240,12,12,2,...,2,2,1,0,0,1080,50,No,68.0,0
558183,2100,0.0,2,1,Y,52,120,12,12,1,...,2,2,2,0,0,12570,5700,No,77.0,14
558184,300,0.0,2,1,0,26,950,12,12,1,...,2,2,2,0,0,1100,290,No,69.0,0
558185,80,0.0,1,1,0,45,610,12,12,1,...,1,2,2,0,0,5360,1180,No,88.0,0
558186,200,0.0,2,1,0,37,180,12,12,2,...,1,1,2,0,0,2000,170,No,81.0,0
558187,10,0.0,1,1,0,23,810,12,12,2,...,2,2,2,0,0,2110,800,No,83.0,0
558188,30,60.0,1,1,0,24,160,12,12,2,...,2,1,2,0,0,860,130,No,75.0,0
558189,80,0.0,1,1,Y,24,500,12,12,1,...,2,1,2,0,0,2070,690,No,76.0,0
558190,70,0.0,2,1,0,36,170,12,12,2,...,1,2,2,0,0,730,800,No,78.0,0
558191,100,0.0,2,1,0,36,480,12,12,1,...,2,2,2,0,0,420,370,No,70.0,0
558192,1700,0.0,2,1,0,36,580,12,12,2,...,2,2,2,0,0,2450,610,No,89.0,0
558193,10,0.0,1,1,Y,37,250,12,12,2,...,2,1,2,0,0,1420,240,No,88.0,0
558194,70,0.0,2,1,0,37,250,12,12,2,...,2,2,2,0,0,70,0,No,73.0,0
558195,0,0.0,2,1,0,23,310,12,12,2,...,2,1,2,0,0,5300,1080,No,77.0,20
558196,1500,0.0,1,1,0,51,530,12,12,2,...,2,2,2,0,0,1670,310,No,71.0,0
558197,300,0.0,1,1,0,39,10,12,12,2,...,2,2,2,0,0,710,230,No,91.0,0
558198,50,0.0,2,1,0,16,960,12,12,1,...,2,2,2,0,0,310,140,No,66.0,0
558199,40,0.0,1,1,0,14,141,12,12,2,...,2,2,2,0,0,710,690,No,84.0,0
558200,10,0.0,1,1,0,43,540,12,12,1,...,1,1,2,0,0,250,120,No,84.0,0
558201,60,0.0,1,1,0,14,250,12,12,1,...,1,2,2,6000,1068,660,120,No,86.0,0
558202,60,0.0,1,1,0,3,60,12,12,2,...,2,2,2,0,0,540,460,No,77.0,0
558203,200,0.0,2,1,0,39,280,12,12,2,...,2,2,2,0,0,1280,300,No,88.0,0
558204,30,0.0,1,1,0,14,820,12,12,2,...,2,2,2,0,0,30,0,No,65.0,0
558205,300,0.0,2,1,0,14,360,12,12,2,...,1,2,2,0,0,390,180,No,67.0,0
558206,500,0.0,2,1,0,23,400,12,12,2,...,1,2,2,0,0,890,120,No,84.0,2
558207,3300,0.0,1,2,0,25,150,12,12,1,...,2,1,2,0,0,4400,220,No,81.0,0
558208,2100,0.0,2,1,Y,5,200,12,12,1,...,2,2,2,0,0,14240,2810,No,63.0,20
558209,10,0.0,2,1,0,16,490,12,12,2,...,1,1,2,0,0,640,350,No,84.0,0
558210,60,0.0,2,1,0,43,170,12,12,2,...,1,1,1,0,0,3220,1270,No,66.0,0

In [48]:
Final_Train.columns

Index(['InscClaimAmtReimbursed', 'DeductibleAmtPaid', 'Gender', 'Race',
       'RenalDiseaseIndicator', 'State', 'County', 'NoOfMonths_PartACov',
       'NoOfMonths_PartBCov', 'ChronicCond_Alzheimer',
       'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
       'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary',
       'ChronicCond_Depression', 'ChronicCond_Diabetes',
       'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
       'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'PotentialFraud',
       'Age', 'NoOfClaimDays'],
      dtype='object')

In [49]:
Final_Train.isnull().sum()

InscClaimAmtReimbursed               0
DeductibleAmtPaid                  899
Gender                               0
Race                                 0
RenalDiseaseIndicator                0
State                                0
County                               0
NoOfMonths_PartACov                  0
NoOfMonths_PartBCov                  0
ChronicCond_Alzheimer                0
ChronicCond_Heartfailure             0
ChronicCond_KidneyDisease            0
ChronicCond_Cancer                   0
ChronicCond_ObstrPulmonary           0
ChronicCond_Depression               0
ChronicCond_Diabetes                 0
ChronicCond_IschemicHeart            0
ChronicCond_Osteoporasis             0
ChronicCond_rheumatoidarthritis      0
ChronicCond_stroke                   0
IPAnnualReimbursementAmt             0
IPAnnualDeductibleAmt                0
OPAnnualReimbursementAmt             0
OPAnnualDeductibleAmt                0
PotentialFraud                       0
Age                                  0
NoOfClaimDays                        0
dtype: int64

#### Filling 'DeductibleAmtPaid' column null values with its mean value

In [50]:
Final_Train['DeductibleAmtPaid'].fillna(Final_Train.DeductibleAmtPaid.mean() ,inplace = True)

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [51]:
Final_Train.shape

(558211, 27)

In [52]:
Final_Train.isnull().sum()

InscClaimAmtReimbursed             0
DeductibleAmtPaid                  0
Gender                             0
Race                               0
RenalDiseaseIndicator              0
State                              0
County                             0
NoOfMonths_PartACov                0
NoOfMonths_PartBCov                0
ChronicCond_Alzheimer              0
ChronicCond_Heartfailure           0
ChronicCond_KidneyDisease          0
ChronicCond_Cancer                 0
ChronicCond_ObstrPulmonary         0
ChronicCond_Depression             0
ChronicCond_Diabetes               0
ChronicCond_IschemicHeart          0
ChronicCond_Osteoporasis           0
ChronicCond_rheumatoidarthritis    0
ChronicCond_stroke                 0
IPAnnualReimbursementAmt           0
IPAnnualDeductibleAmt              0
OPAnnualReimbursementAmt           0
OPAnnualDeductibleAmt              0
PotentialFraud                     0
Age                                0
NoOfClaimDays                      0
dtype: int64

In [53]:
Test_merge3.isnull().sum()

BeneID                                  0
ClaimID                                 0
ClaimStartDt                            0
ClaimEndDt                              0
Provider                                0
InscClaimAmtReimbursed                  0
AttendingPhysician                    347
OperatingPhysician                 108199
OtherPhysician                      86760
AdmissionDt                        125841
ClmAdmitDiagnosisCode              100036
DeductibleAmtPaid                     196
DischargeDt                        125841
DiagnosisGroupCode                 125841
ClmDiagnosisCode_1                   2578
ClmDiagnosisCode_2                  47785
ClmDiagnosisCode_3                  76744
ClmDiagnosisCode_4                  95775
ClmDiagnosisCode_5                 108594
ClmDiagnosisCode_6                 115232
ClmDiagnosisCode_7                 119607
ClmDiagnosisCode_8                 122670
ClmDiagnosisCode_9                 125516
ClmDiagnosisCode_10                134242
ClmProcedureCode_1                 129925
ClmProcedureCode_2                 134129
ClmProcedureCode_3                 135167
ClmProcedureCode_4                 135363
ClmProcedureCode_5                 135390
ClmProcedureCode_6                 135392
DOB                                     0
DOD                                134352
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
Age                                     0
NoOfAdmitDays                      125841
NoOfClaimDays                           0
dtype: int64

#### LableEncoder

In [56]:
from sklearn.preprocessing import LabelEncoder

In [57]:
le=LabelEncoder()

In [58]:
Final_Train["RenalDiseaseIndicator"]=le.fit_transform(Final_Train["RenalDiseaseIndicator"])

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
Final_Train["RenalDiseaseIndicator"]=pd.Categorical(Final_Train["RenalDiseaseIndicator"])

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
Final_Train.dtypes

InscClaimAmtReimbursed                int64
DeductibleAmtPaid                   float64
Gender                                int64
Race                                  int64
RenalDiseaseIndicator              category
State                                 int64
County                                int64
NoOfMonths_PartACov                   int64
NoOfMonths_PartBCov                   int64
ChronicCond_Alzheimer                 int64
ChronicCond_Heartfailure              int64
ChronicCond_KidneyDisease             int64
ChronicCond_Cancer                    int64
ChronicCond_ObstrPulmonary            int64
ChronicCond_Depression                int64
ChronicCond_Diabetes                  int64
ChronicCond_IschemicHeart             int64
ChronicCond_Osteoporasis              int64
ChronicCond_rheumatoidarthritis       int64
ChronicCond_stroke                    int64
IPAnnualReimbursementAmt              int64
IPAnnualDeductibleAmt                 int64
OPAnnualReimbursementAmt              int64
OPAnnualDeductibleAmt                 int64
PotentialFraud                       object
Age                                 float64
NoOfClaimDays                         int64
dtype: object

In [68]:
pd.value_counts(Final_Train.PotentialFraud)

No     345415
Yes    212796
Name: PotentialFraud, dtype: int64

In [69]:
Test_merge3["RenalDiseaseIndicator"] = le.fit_transform(Test_merge3["RenalDiseaseIndicator"])

In [70]:
Test_merge3['NoOfClaimDays'] = pd.to_numeric(Test_merge3['NoOfClaimDays'])

In [71]:
Test_merge3['RenalDiseaseIndicator'] = pd.Categorical(Test_merge3['RenalDiseaseIndicator'])

In [72]:
Test_merge3['Provider'] = pd.Categorical(Test_merge3['Provider'])

In [74]:
test = Test_merge3[Test_merge3.columns[Test_merge3.isnull().mean() < 0.6]]

In [75]:
test.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'DeductibleAmtPaid',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'DOB',
       'Gender', 'Race', 'RenalDiseaseIndicator', 'State', 'County',
       'NoOfMonths_PartACov', 'NoOfMonths_PartBCov', 'ChronicCond_Alzheimer',
       'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
       'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary',
       'ChronicCond_Depression', 'ChronicCond_Diabetes',
       'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
       'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Age',
       'NoOfClaimDays'],
      dtype='object')

In [76]:
test.isnull().sum()

BeneID                                 0
ClaimID                                0
ClaimStartDt                           0
ClaimEndDt                             0
Provider                               0
InscClaimAmtReimbursed                 0
AttendingPhysician                   347
DeductibleAmtPaid                    196
ClmDiagnosisCode_1                  2578
ClmDiagnosisCode_2                 47785
ClmDiagnosisCode_3                 76744
DOB                                    0
Gender                                 0
Race                                   0
RenalDiseaseIndicator                  0
State                                  0
County                                 0
NoOfMonths_PartACov                    0
NoOfMonths_PartBCov                    0
ChronicCond_Alzheimer                  0
ChronicCond_Heartfailure               0
ChronicCond_KidneyDisease              0
ChronicCond_Cancer                     0
ChronicCond_ObstrPulmonary             0
ChronicCond_Depression                 0
ChronicCond_Diabetes                   0
ChronicCond_IschemicHeart              0
ChronicCond_Osteoporasis               0
ChronicCond_rheumatoidarthritis        0
ChronicCond_stroke                     0
IPAnnualReimbursementAmt               0
IPAnnualDeductibleAmt                  0
OPAnnualReimbursementAmt               0
OPAnnualDeductibleAmt                  0
Age                                    0
NoOfClaimDays                          0
dtype: int64

In [77]:
test["DeductibleAmtPaid"].fillna(test.DeductibleAmtPaid.mean(),inplace = True)

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [78]:
test_Df = test.drop(['DOB','ClmDiagnosisCode_1', 'ClmDiagnosisCode_2','ClmDiagnosisCode_3','BeneID', 'ClaimID','AttendingPhysician','ClaimEndDt','ClaimStartDt','Provider'],axis= 1)

In [79]:
test_Df.shape

(135392, 26)

In [80]:
x=Final_Train.drop(["PotentialFraud"],axis=1)

In [81]:
y= Final_Train['PotentialFraud']

In [82]:
X_train,X_val,Y_train,Y_val=train_test_split(x,y,test_size=0.2,random_state=100)

In [83]:
X_train.shape

(446568, 26)

In [84]:
X_train.columns

Index(['InscClaimAmtReimbursed', 'DeductibleAmtPaid', 'Gender', 'Race',
       'RenalDiseaseIndicator', 'State', 'County', 'NoOfMonths_PartACov',
       'NoOfMonths_PartBCov', 'ChronicCond_Alzheimer',
       'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
       'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary',
       'ChronicCond_Depression', 'ChronicCond_Diabetes',
       'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
       'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Age',
       'NoOfClaimDays'],
      dtype='object')

In [85]:
X_train.dtypes

InscClaimAmtReimbursed                int64
DeductibleAmtPaid                   float64
Gender                                int64
Race                                  int64
RenalDiseaseIndicator              category
State                                 int64
County                                int64
NoOfMonths_PartACov                   int64
NoOfMonths_PartBCov                   int64
ChronicCond_Alzheimer                 int64
ChronicCond_Heartfailure              int64
ChronicCond_KidneyDisease             int64
ChronicCond_Cancer                    int64
ChronicCond_ObstrPulmonary            int64
ChronicCond_Depression                int64
ChronicCond_Diabetes                  int64
ChronicCond_IschemicHeart             int64
ChronicCond_Osteoporasis              int64
ChronicCond_rheumatoidarthritis       int64
ChronicCond_stroke                    int64
IPAnnualReimbursementAmt              int64
IPAnnualDeductibleAmt                 int64
OPAnnualReimbursementAmt              int64
OPAnnualDeductibleAmt                 int64
Age                                 float64
NoOfClaimDays                         int64
dtype: object

In [86]:
X_val.shape

(111643, 26)

In [87]:
Y_train.shape

(446568,)

In [88]:
Y_val.shape

(111643,)

### Decision Tree

In [90]:
#Importing required module
from sklearn.tree import DecisionTreeClassifier

In [91]:
DTClassifier=DecisionTreeClassifier(max_depth=3)

In [92]:
DTmodel=DTClassifier.fit(X_train,Y_train)

In [93]:
#Predict on Train
pred=DTmodel.predict(X_train)

In [94]:
accuracy_score(y_pred=pred,y_true=Y_train)

0.6410468282545996

In [95]:
# Predict on validation
pred_test=DTmodel.predict(X_val)

In [96]:
accuracy_score(y_pred=pred_test,y_true=Y_val)

0.6427362217066901

In [97]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(Y_val,pred_test))  
print(classification_report(Y_val,pred_test))

[[57867 11437]
 [28449 13890]]
             precision    recall  f1-score   support

         No       0.67      0.83      0.74     69304
        Yes       0.55      0.33      0.41     42339

avg / total       0.62      0.64      0.62    111643

In [98]:
test_preds=DTmodel.predict(test_Df)

In [99]:
test_predictions=test_preds.tolist()

In [100]:
test["PotentialFraud"]=test_predictions

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [101]:
dt_sub=test[['Provider','PotentialFraud']]

In [102]:
dt_sub=dt_sub.drop_duplicates()

In [103]:
dt_sub=dt_sub[~dt_sub.Provider.duplicated(keep='first')]

In [104]:
dt_sub['Provider'].nunique()

1353

In [105]:
dt_sub.shape

(1353, 2)

In [106]:
#Final_Test['PotentialFraud']=Final_Test.str.lower().replace({'1':'Yes','2':'No'})
#Train_merge3['PotentialFraud'] = Train_merge3['PotentialFraud'].str.lower().replace({'yes': 1, 'no': 2})

In [107]:
dt_sub.to_csv("DtTestPreds3.csv",index=False)

In [108]:
dt_sub.head(5)

      Provider PotentialFraud
0     PRV57070            Yes
12    PRV56558             No
1160  PRV54750            Yes
1198  PRV53758            Yes
1381  PRV55825            Yes

### Adaboost

In [109]:
# importing required modules 
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [110]:
# Creating adaboost-decision tree classifer object
Adaboost_model = AdaBoostClassifier(
    DecisionTreeClassifier(max_depth=2),
    n_estimators = 50,
    learning_rate = 1
)

In [111]:
%time Adaboost_model.fit(X_train, Y_train)

Wall time: 2min 25s

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          learning_rate=1, n_estimators=50, random_state=None)

In [112]:
# Predict on Train
train_preds = Adaboost_model.predict(X_train)

In [113]:
accuracy_score(y_pred=train_preds,y_true=Y_train)

0.6915632109779474

In [114]:
# Predict on Validation
y_preds = Adaboost_model.predict(X_val)

In [115]:
# Verify accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_val, y_preds))

0.6918749944017986

In [116]:
print(confusion_matrix(Y_val,y_preds))  
print(classification_report(Y_val,y_preds))

[[59304 10000]
 [24400 17939]]
             precision    recall  f1-score   support

         No       0.71      0.86      0.78     69304
        Yes       0.64      0.42      0.51     42339

avg / total       0.68      0.69      0.67    111643

In [117]:
test_preds=Adaboost_model.predict(test_Df)

In [118]:
test_prediction=test_preds.tolist()

In [119]:
test["PotentialFraud"]=test_prediction

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [120]:
Ad_sub=test[['Provider','PotentialFraud']]

In [121]:
Ad_sub=Ad_sub.drop_duplicates()

In [122]:
Ad_sub=Ad_sub[~Ad_sub.Provider.duplicated(keep='first')]

In [123]:
Ad_sub['Provider'].nunique()

1353

In [124]:
Ad_sub.shape

(1353, 2)

In [125]:
Ad_sub.to_csv("ADTestPreds1.csv",index=False)

In [126]:
Ad_sub.head(5)

      Provider PotentialFraud
0     PRV57070            Yes
12    PRV56558            Yes
1160  PRV54750            Yes
1198  PRV53758            Yes
1381  PRV55825             No

### Random Forest

In [127]:
#Importing required module
from sklearn.ensemble import RandomForestClassifier

In [128]:
RFmodel = RandomForestClassifier(n_estimators= 10,criterion='gini')

In [129]:
rf_train = RFmodel.fit(X_train,Y_train)

In [130]:
# Predict on Train
train_preds = RFmodel.predict(X_train)

In [131]:
accuracy_score(y_pred=train_preds,y_true=Y_train)

0.9657409397896849

In [132]:
#Predict on validation
val_preds = RFmodel.predict(X_val)

In [133]:
accuracy_score(y_pred=val_preds,y_true=Y_val)

0.7156203255018228

In [134]:
print(confusion_matrix(Y_val,val_preds))  
print(classification_report(Y_val,val_preds))

[[56578 12726]
 [19023 23316]]
             precision    recall  f1-score   support

         No       0.75      0.82      0.78     69304
        Yes       0.65      0.55      0.59     42339

avg / total       0.71      0.72      0.71    111643

In [135]:
test_preds=RFmodel.predict(test_Df)

In [136]:
test_prediction=test_preds.tolist()

In [137]:
test["PotentialFraud"]=test_prediction

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [138]:
rf_sub=test[['Provider','PotentialFraud']]

In [139]:
rf_sub=rf_sub.drop_duplicates()

In [140]:
rf_sub=rf_sub[~rf_sub.Provider.duplicated(keep='first')]

In [141]:
rf_sub['Provider'].nunique()

1353

In [142]:
rf_sub.shape

(1353, 2)

In [143]:
rf_sub.to_csv("RFTestPreds3.csv",index=False)

In [144]:
rf_sub.head(5)

      Provider PotentialFraud
0     PRV57070            Yes
12    PRV56558             No
1160  PRV54750            Yes
1198  PRV53758             No
1381  PRV55825             No

### GBM

In [145]:
#Importing required module
from sklearn.ensemble import GradientBoostingClassifier

In [146]:
GBM_model = GradientBoostingClassifier(n_estimators=50,
                                       learning_rate=0.3,
                                       subsample=0.8)

In [147]:
%time GBM_model.fit(X=X_train, y=Y_train)

Wall time: 49.7 s

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.3, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=50,
              presort='auto', random_state=None, subsample=0.8, verbose=0,
              warm_start=False)

In [148]:
# Predict on Train
train_preds = GBM_model.predict(X_train)

In [149]:
accuracy_score(y_pred=train_preds,y_true=Y_train)

0.7026723813618531

In [150]:
# Predict on Validation
y_pred = GBM_model.predict(X_val)

In [151]:
print(accuracy_score(Y_val,y_pred))

0.7035819531900791

In [152]:
print(confusion_matrix(Y_val,y_pred))  
print(classification_report(Y_val,y_pred))

[[60492  8812]
 [24281 18058]]
             precision    recall  f1-score   support

         No       0.71      0.87      0.79     69304
        Yes       0.67      0.43      0.52     42339

avg / total       0.70      0.70      0.69    111643

In [153]:
test_preds=GBM_model.predict(test_Df)

In [154]:
test_prediction=test_preds.tolist()

In [155]:
test["PotentialFraud"]=test_prediction

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [156]:
GBM_sub=test[['Provider','PotentialFraud']]

In [157]:
GBM_sub=GBM_sub.drop_duplicates()

In [158]:
GBM_sub=GBM_sub[~GBM_sub.Provider.duplicated(keep='first')]

In [159]:
GBM_sub['Provider'].nunique()

1353

In [160]:
GBM_sub.shape

(1353, 2)

In [161]:
GBM_sub.to_csv("GBMTestPreds3.csv",index=False)

In [162]:
GBM_sub.head(5)

      Provider PotentialFraud
0     PRV57070            Yes
12    PRV56558            Yes
1160  PRV54750            Yes
1198  PRV53758            Yes
1381  PRV55825             No

%time CV_GBM.fit(X=X_train, y=Y_train)

### Logistic Regression

In [163]:
#Importing required module
from sklearn.linear_model import LogisticRegression

In [164]:
logisticRegr = LogisticRegression()

In [165]:
logisticRegr.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [166]:
# Predict on Train
train_preds = logisticRegr.predict(X_train)

In [167]:
accuracy_score(y_pred=train_preds,y_true=Y_train)

0.6295211479550706

In [168]:
# Predict on Validation
val_preds = logisticRegr.predict(X_val)

In [169]:
accuracy_score(y_pred=val_preds,y_true=Y_val)

0.6308411633510386

In [170]:
print(confusion_matrix(Y_val,val_preds))  
print(classification_report(Y_val,val_preds))

[[65907  3397]
 [37817  4522]]
             precision    recall  f1-score   support

         No       0.64      0.95      0.76     69304
        Yes       0.57      0.11      0.18     42339

avg / total       0.61      0.63      0.54    111643

In [171]:
test_preds=logisticRegr.predict(test_Df)

In [172]:
test_prediction=test_preds.tolist()

In [173]:
test["PotentialFraud"]=test_prediction

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [174]:
lg_sub=test[['Provider','PotentialFraud']]

In [175]:
lg_sub=lg_sub.drop_duplicates()

In [176]:
lg_sub=lg_sub[~lg_sub.Provider.duplicated(keep='first')]

In [177]:
lg_sub['Provider'].nunique()

1353

In [178]:
lg_sub.shape

(1353, 2)

In [179]:
lg_sub.to_csv("LGTestPreds5.csv",index=False)

In [180]:
lg_sub.head(5)

      Provider PotentialFraud
0     PRV57070            Yes
12    PRV56558             No
1160  PRV54750            Yes
1198  PRV53758            Yes
1381  PRV55825            Yes

### XGB

In [181]:
X_train.dtypes

InscClaimAmtReimbursed                int64
DeductibleAmtPaid                   float64
Gender                                int64
Race                                  int64
RenalDiseaseIndicator              category
State                                 int64
County                                int64
NoOfMonths_PartACov                   int64
NoOfMonths_PartBCov                   int64
ChronicCond_Alzheimer                 int64
ChronicCond_Heartfailure              int64
ChronicCond_KidneyDisease             int64
ChronicCond_Cancer                    int64
ChronicCond_ObstrPulmonary            int64
ChronicCond_Depression                int64
ChronicCond_Diabetes                  int64
ChronicCond_IschemicHeart             int64
ChronicCond_Osteoporasis              int64
ChronicCond_rheumatoidarthritis       int64
ChronicCond_stroke                    int64
IPAnnualReimbursementAmt              int64
IPAnnualDeductibleAmt                 int64
OPAnnualReimbursementAmt              int64
OPAnnualDeductibleAmt                 int64
Age                                 float64
NoOfClaimDays                         int64
dtype: object

In [182]:
X_train['RenalDiseaseIndicator'] = X_train['RenalDiseaseIndicator'].astype('float')

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [183]:
X_val['RenalDiseaseIndicator']=X_val['RenalDiseaseIndicator'].astype('float')

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [184]:
test_Df['RenalDiseaseIndicator']=test_Df['RenalDiseaseIndicator'].astype('float')

In [185]:
#Importing required module
from xgboost import XGBClassifier
#XGB_model = XGBClassifier(n_estimators=250,learning_rate=0.1,max_depth=7,min_samples_leaf=20)
XGB_model = XGBClassifier()

In [186]:
XGB_model.fit(X_train, Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [187]:
# Predict on Train
train_preds = XGB_model.predict(X_train)

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [188]:
accuracy_score(y_pred=train_preds,y_true=Y_train)

0.6855618853119794

In [189]:
# Predict on Validation
val_preds = XGB_model.predict(X_val)

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [190]:
accuracy_score(y_pred=val_preds,y_true=Y_val)

0.6855243947224635

In [191]:
print(confusion_matrix(Y_val,val_preds))  
print(classification_report(Y_val,val_preds))

[[61353  7951]
 [27158 15181]]
             precision    recall  f1-score   support

         No       0.69      0.89      0.78     69304
        Yes       0.66      0.36      0.46     42339

avg / total       0.68      0.69      0.66    111643

In [192]:
test_preds=XGB_model.predict(test_Df)

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [193]:
test_prediction=test_preds.tolist()

In [194]:
test["PotentialFraud"]=test_prediction

C:\Users\Hetvi Mehta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [195]:
XGB_sub=test[['Provider','PotentialFraud']]

In [196]:
XGB_sub=XGB_sub.drop_duplicates()

In [197]:
XGB_sub=XGB_sub[~XGB_sub.Provider.duplicated(keep='first')]

In [198]:
XGB_sub['Provider'].nunique()

1353

In [199]:
XGB_sub.shape

(1353, 2)

In [200]:
XGB_sub.to_csv("XGBTestPreds5.csv",index=False)

In [201]:
XGB_sub.head(5)

      Provider PotentialFraud
0     PRV57070            Yes
12    PRV56558             No
1160  PRV54750            Yes
1198  PRV53758            Yes
1381  PRV55825            Yes